@media screen and (max-width: 1120px){
    .coluna-item h3{
        font-size:1.5em;
    }
}

@media screen and (max-width:768px){
    .colunas__inner{
        flex-direction:column;
    }
    
    .coluna-item:not(:last-of-type){
        margin-bottom:25px;
    }
    
    .coluna-item{
        width:100%;
    }
    
    .title h1{
        font-size:2.8em;
        text-align:center;
    }
    
    .select-categoria select{
        left:0px;
    }
    
    .inputs__form-adiciona label{
    margin:4px 0;
    display: inline-block;
    }

    .inputs__form-adiciona input{
        width:100%;
    }

    .inputs__form-adiciona select{
        width:104%;
    }

    .next-arrow{
        display:block;
        margin-bottom:25px;
    }
    
}